{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      a:link, a:visited {
        color: black;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover, a:active {
        background-color: #C4D700;
      }
    </style>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheet.css">
</head>
<body style = "background-color:#f2f0ed;">
    <h1>Shepherd</h1>
        <a href = "{% url 'leaderboard' %}">Leader Board</a><br>
        <a href = "{% url 'add_point' %}">Daily Reward</a><br>
        <a href = "{% url 'logout' %}">Logout</a>
    
    
    {% if user.is_authenticated %}
    <p>
        Welcome {{ user.username }}. You have {{ mypoints|default:'no' }} points.
    </p>
    {% else %}
    <p>
        Welcome Stranger.
    </p>
    {% endif %}   
</body>
</html>