{% load static %}
<!DOCTYPE html>

<head>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shepherd</title>
    <link rel="icon" type="image/x-icon" href="/static/Shepherd_Logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <link rel="stylesheet" href="/static/homestylesheet.css">
</head>

<body>
  <!--Main Navigation-->
  <header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Feed</span>
          </a>
          <a href="{% url 'leaderboard' %}" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Leaderboard</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple active">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Share offer</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-lock fa-fw me-3"></i><span>My history</span></a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-chart-line fa-fw me-3"></i><span>Account</span></a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-pie fa-fw me-3"></i><span>Settings</span>
          </a>
          <a href="{% url 'logout' %}" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-pie fa-fw me-3"></i><span>Logout</span>
          </a>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <!-- Brand -->
        <a href="{% url 'home' %}" class="navbar-brand">
          <img src="/static/Shepherd_Logo.png" height="50" alt="Logo" loading="lazy" />
        </a>
        <!-- Search form -->
        <form class="d-none d-md-flex input-group w-auto my-auto">
          <input autocomplete="off" type="search" class="form-control rounded" placeholder='Search'
            style="min-width: 225px;" />
          <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
        </form>

        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
          <!-- Notification dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
              role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-bell"></i>
              <span class="badge rounded-pill badge-notification bg-danger">1</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="#">Some news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>

          <!-- Icon -->
          <li class="nav-item">
            <a class="nav-link me-3 me-lg-0" href="#">
              <i class="fas fa-fill-drip"></i>
            </a>
          </li>
          <!-- Icon -->
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#">
              <i class="fab fa-github"></i>
            </a>
          </li>

          <!-- Icon dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdown" role="button"
              data-mdb-toggle="dropdown" aria-expanded="false">
              <i class="flag-united-kingdom flag m-0"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#"><i class="flag-united-kingdom flag"></i>English
                  <i class="fa fa-check text-success ms-2"></i></a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-poland flag"></i>Polski</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-japan flag"></i>日本語</a>
              </li>
            </ul>
          </li>

          <!-- Avatar -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
              id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle" height="22"
                alt="Avatar" loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="#">My profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Settings</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- End of Navbar -->
  </header>
  <!-- End of Main Navigation-->

  <!--Main layout-->
  <main style="margin-top: 58px;">
    <div class="container pt-4">
      {% if user.is_authenticated %}
      <p>
        Welcome {{ user.username }}. You have {{ mypoints|default:'no' }} points.
      </p>
      <p>
        You Lasted logged in at {{ user.last_login }}
        {% else %}
      <p>
        Welcome Stranger.
      </p>
      {% endif %}

      {% if error_message %}
      <!--
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <strong>{{ error_message }}</strong> 
      </div>-->
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>{{ error_message }}</strong>
      </div>
      {% endif %}
    </div>

    {% if has_messages %}
    {% for message in messages %}
    <div class="toast show position-absolute" style="right: 0;">
      <div class="toast-header d-flex align-items-center">
        <div class="mx-auto">You have a message</div>
        <button type="button" class="btn-close m ml-auto closeToast" data-bs-dismiss="toast"></button>
      </div>
      <div class="toast-body">
        {% if message.message == "-congrats" %}
        <p>{{message.sender.username}} sends his congratulations</p>
        {% elif message.message == "-connect-ask" %}
        <p>{{message.sender.username}} wants to connect</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    {% endif %}

    <div class="container">
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Submit
        Shopping</button>

      <!-- Modal for daily reward -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <form action="{% url 'manual' %}" method="post">
              {% csrf_token %}
              <div class="modal-header">
                <h4 class="modal-title">Add points manually</h4>
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
              </div>
              <div class="modal-body">
                {% csrf_token %}
                {{ form.as_p }}
              </div>
              <div class="hidden" id="cost_before">{{form.cost_before.value}}</div>
              <div class="hidden" id="cost_after">{{form.cost_after.value}}</div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-default" action="{% url 'manual' %}" id="getPointsButton">Get points</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Daily Reward</button>
    
      <!-- Modal for daily reward -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <form action="{% url 'add_point' %}" method="post">
              {% csrf_token %}
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login Reward</h4>
              </div>
              <div class="modal-body">
                <p>Claim your Reward </p>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-default" action="{% url 'add_point' %}">Claim Reward</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>

        </div>
      </div>

    </div>
    <div class="text-center container py-5">
    <div class="carousel_container">
      <h2><strong>Weekly Offers</strong></h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel" style = "width:120%; overflow-x:hidden;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <div class="item active">
            <img src="/static/Shepherd_Logo.png" alt="" style="width:20%;">
            <div class="carousel-caption">
              <h3>Deal 1</h3>
              <p></p>
            </div>
          </div>

          <div class="item">
            <img
              src="https://storage.googleapis.com/images-dun-prd-85c8a53.dun.prd.v8.commerce.mi9cloud.com/product-images/cell/100152379_596.jpg"
              alt="" style="width:20%;">
            <div class="carousel-caption">
              <h3>Deal 2</h3>
              <p></p>
            </div>
          </div>

          <div class="item">
            <img
              src="https://digitalcontent.api.tesco.com/v2/media/ghs/5918e54e-bb24-4c31-a577-edbde6068914/0b1a372b-51dc-4d80-be64-011c2f5fe545_1300513662.jpeg?h=540&w=540"
              alt="New York" style="width:20%;">
            <div class="carousel-caption">
              <h3>Deal 3</h3>
              <p></p>
            </div>
          </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    
      <h3 class="mt-4 mb-5"><strong>Bestsellers</strong></h3>
  
      <div class="row">
        <h4><strong>Tesco</strong></h4>
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://digitalcontent.api.tesco.com/v2/media/ghs/d6cf8c78-374f-4be8-ac38-426f9caa6317/0b460560-41f4-4010-9253-c670304f0a75_756103070.jpeg?h=540&w=540"
                class="w-100"  />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-primary ms-2" style = "background-color: yellow;">Clubcard Price
                      Any 3 for €4 Clubcard Price</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Store - Tesco </h5>
              </a>
              <a href="" class="text-reset">
                <p>Cadbury Timeout Wafer Biscuits 6 X 20.2G</p>
              </a>
              <h6 class="mb-3">€2.49</h6>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://digitalcontent.api.tesco.com/v2/media/ghs/2c4cb093-149c-468e-be3c-781c1a0db6f5/dbb02207-9abd-4a7d-8731-19817a980f2a_425702495.jpeg?h=540&w=540"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-primary ms-2">Any 2 for €5 Clubcard Price</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Store - Tesco</h5>
              </a>
              <a href="" class="text-reset">
                <p>T.Fin*Canadian Maple Smoked Dry Rashers240g</p>
              </a>
              <h6 class="mb-3">€2.99</h6>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://digitalcontent.api.tesco.com/v2/media/ghs/e8265ce3-a0f9-4f48-b593-a735f303ed27/0ff03d62-0986-4639-91a9-04227d1a7f87_1450377647.jpeg?h=540&w=540"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-primary ms-2">Clubcard Price €16.00 Clubcard Price</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Store - Tesco</h5>
              </a>
              <a href="" class="text-reset">
                <p>Coca Cola Coke Zero 24X330ml</p>
              </a>
              <h6 class="mb-3">
                <s>€18</s><strong class="ms-2 text-danger">€16</strong>
              </h6>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <h4><strong>Dunnes</strong></h4>
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://storage.googleapis.com/images-dun-prd-85c8a53.dun.prd.v8.commerce.mi9cloud.com/product-images/detail/100206019_1.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-danger ms-2">Buy 3 for €10</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Store - Dunnes</h5>
              </a>
              <a href="" class="text-reset">
                <p>Dunnes Store 4 Irish Beef Quarter Pounder Burgers 454G</p>
              </a>
              <h6 class="mb-3">
                <strong >€3.99</strong>
              </h6>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://storage.googleapis.com/images-dun-prd-85c8a53.dun.prd.v8.commerce.mi9cloud.com/product-images/detail/100773784_1.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-danger ms-2">Save €0.99</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Store - Dunnes</h5>
              </a>
              <a href="" class="text-reset">
                <p>Ice Berger 4 PK </p>
              </a>
              <s>€4.99</s><strong class="ms-2 text-danger">€4</strong>
            </div>
            <br>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://storage.googleapis.com/images-dun-prd-85c8a53.dun.prd.v8.commerce.mi9cloud.com/product-images/detail/100260343_1.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <span class="badge bg-danger ms-2">2 for €4</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Store - Dunnes</h5>
              </a>
              <a href="" class="text-reset">
                <p>Dunnes Stores Sonebaked Thin & Crispy Pepperoni Pizza 334G</p>
              </a>
              <h6 class="mb-3">
                <strong>€2.50</strong>
              </h6>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <h4><strong>SuperValu</strong></h4>
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://storage.googleapis.com/images-mus-prd-7e2fdbe.mus.prd.v8.commerce.mi9cloud.com/product-images/detail/1669678001_1"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-success ms-2"> Only €2.50</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Store - SuperValu </h5>
              </a>
              <a href="" class="text-reset">
                <p>Tayto Occasions Party Mix (90 g)</p>
                
              </a>
              <h6 class="mb-3">
                <strong >€2.50</strong>
              </h6>
              <br>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://storage.googleapis.com/images-mus-prd-7e2fdbe.mus.prd.v8.commerce.mi9cloud.com/product-images/detail/1019313000_1"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-success ms-2">Only €1.79</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Store - SuperValu</h5>
              </a>
              <a href="" class="text-reset">
                <p>Johnston Mooney and O Brien Toastie White Pan (800 g) </p>
              </a>
              <strong>€1.79</strong>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://storage.googleapis.com/images-mus-prd-7e2fdbe.mus.prd.v8.commerce.mi9cloud.com/product-images/detail/1009580003_1"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <span class="badge bg-success ms-2">Only €3.50</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Store - SuperValu</h5>
              </a>
              <a href="" class="text-reset">
                <p>Green Isle Straight Cut Oven Chips (1 kg)</p>
              </a>
              <h6 class="mb-3">
                <strong>€3.50</strong>
              </h6>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </main>
  <!--End of Main layout-->
</body>
<script defer>
  function changeText(){
    var before = "{{form.cost_before.value}}";
    var after = "{{form.cost_after.value}}";

    alert(before);
    let point = (after-before)*100
    if (point != NaN) {
      document.getElementById("getPointsButton").textContent = "Get "+ point +" points";
    }
  }
</script>