<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top savers</title>
</head>

<body>
    <style>
        table tr {
            border: 2px;
            border-color: black;
        }
    </style>
    <table>
        <header>Top savers</header>
        <tbody>
            {% for user in top_pointers %}
            <tr>
                <td>{{user.user.username}}</td>
                <td>{{user.user.first_name}}</td>
                <td>{{user.user.last_name}}</td>
                <td>{{user.points}}</td>
            </tr>
            {% endfor %}
            {% if current_user %}
            <tr>
                <td>...</td>
            </tr>
            <tr>
                <td>{{current_user.username}}</td>
                <td>{{current_user.first_name}}</td>
                <td>{{current_user.last_name}}</td>
                <td>{{mypoints.points}}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</body>

</html>