{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
   
      </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="/static/Shepherd_Logo.png">
</head>
<body id = "login_background" >
  {% if login_error %}
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong>{{ login_error }}</strong>
  </div>
      {% endif %}
    <div id = "login_container">
        <img id = "logo" src = "{% static 'Shepherd_Logo.png' %}">
        <div id = "login_body">
            <form method = "POST" id="login_form" novalidate>
            {% csrf_token %}
            <h2>Login</h2>
            {{ form.as_p }}
            <a href="javascript:{}" onclick="document.getElementById('login_form').submit();">Login</a>
          </form>
          <div><a  href="{% url 'password-reset' %}">Forgot your password?</a></div>
          <span><a  href="{% url 'register' %}">Register</a></span>
        </div>
        
    </div>
</body>
<script>
const closeButton = document.querySelector('.close-infobutton');
const textBox = document.querySelector('.infotext-box');

closeButton.addEventListener('click', () => {
  textBox.style.display = 'none';
});
</script>
</html>
