{% load static %}
<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manual Add Points</title>
  <link rel="icon" type="image/x-icon" href="/static/Shepherd_Logo.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
  integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/homestylesheet.css"> 
</head>


</head>

<body>

  <!--Main Navigation-->
  <header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-custom">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
              <a href="{% url 'home' %}" class="list-group-item list-group-item-action-custom py-2 ripple" aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Feed</span>
          </a>
          <a href="{% url 'leaderboard' %}" class="list-group-item list-group-item-action-custom py-2 ripple "
            aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Leaderboard</span>
          </a>
          <a href="{% url 'history' %}" class="list-group-item list-group-item-action py-2 ripple"><i
            class="fas fa-lock fa-fw me-3"></i><span>My history</span></a>

          <a href="{% url 'manual' %}" class="list-group-item list-group-item-action-custom py-2 ripple active">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Enter Points</span></a>


          <a hidden href="#" class="list-group-item list-group-item-action py-2 ripple ">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Share offer</span></a>

          <!--<a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-lock fa-fw me-3"></i><span>My history</span></a>-->

          <a href="#" class="list-group-item list-group-item-action-custom py-2 ripple"><i
              class="fas fa-lock fa-fw me-3"></i><span>My history</span></a>

          <a hidden href="#" class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-chart-line fa-fw me-3"></i><span>Account</span></a>

          <a hidden href="#" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-pie fa-fw me-3"></i><span>Settings</span></a>
            
          <a href="{% url 'logout' %}" class="list-group-item list-group-item-action-custom py-2 ripple">
            <i class="fas fa-chart-pie fa-fw me-3"></i><span>Logout</span>
          </a>

          <!-- Trigger the modal with a button -->
          {% comment %} <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Daily Reward</button> {% endcomment %}

          <!--Info PopUp-->
          <div class="popup" onclick="myFunction()">
            <svg fill="#317589" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="-166.79 -166.79 750.56 750.56" xml:space="preserve" stroke="#317589" stroke-width="0.0041697900000000005">
              <g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(72.97132499999998,72.97132499999998), scale(0.65)">
                <rect x="-166.79" y="-166.79" width="750.56" height="750.56" rx="375.28" fill="#f2f0ed" strokewidth="0"></rect></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="7.505622"></g>
                <g id="SVGRepo_iconCarrier"> <g> 
                  <path d="M356.004,61.156c-81.37-81.47-213.377-81.551-294.848-0.182c-81.47,81.371-81.552,213.379-0.181,294.85 c81.369,81.47,213.378,81.551,294.849,0.181C437.293,274.636,437.375,142.626,356.004,61.156z M237.6,340.786 c0,3.217-2.607,5.822-5.822,5.822h-46.576c-3.215,0-5.822-2.605-5.822-5.822V167.885c0-3.217,2.607-5.822,5.822-5.822h46.576 c3.215,0,5.822,2.604,5.822,5.822V340.786z M208.49,137.901c-18.618,0-33.766-15.146-33.766-33.765 c0-18.617,15.147-33.766,33.766-33.766c18.619,0,33.766,15.148,33.766,33.766C242.256,122.755,227.107,137.901,208.49,137.901z" alt = "Info"></path>
           </g> 
            </g>
            </svg>
           <span class="popuptext" id="myPopup">Use the below to add points towards being the best saver out of your friends!</span>
          </div>

           <div class="audioIcon" id="audioContainer">
            <audio hidden controls>
                <source src="{% static 'Add points.mp3' %}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <svg fill="#f2f0ed" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="-184.24 -184.24 769.00 769.00" xml:space="preserve" stroke="#f2f0ed">
              <g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(60.07815000000002,60.07815000000002), scale(0.7)">
              <rect x="-184.24" y="-184.24" width="769.00" height="769.00" rx="384.5" fill="#317589" strokewidth="0"></rect></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier"> <g> <g> <path d="M377.626,44.999l-22.104-22.103c-30.526-30.527-80.022-30.527-110.551,0l-5.781,5.78l132.654,132.653l5.781-5.78 C408.15,125.022,408.154,75.529,377.626,44.999z"></path> 
                <path d="M193.851,74.02c-19.381,19.379-26.439,46.396-21.215,71.359L3.884,336.616c-5.424,6.145-5.133,15.447,0.662,21.24 l38.117,38.119c5.794,5.795,15.098,6.084,21.242,0.662l191.236-168.752c24.961,5.225,51.982-1.834,71.36-21.215l23.845-23.846 L217.695,50.173L193.851,74.02z"></path>            
              </g> 
              </g> 
             </g>
            </svg>   
        </div>
    </nav>
  <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <!-- Brand -->
        <a href="{% url 'home' %}" class="navbar-brand">
          <img src="/static/Shepherd_Logo.png" height="50" alt="Logo" loading="lazy" />
        </a>
        <!-- Search form -->
        <div class="searchBox">
          <form action="{% url 'product' %}" class="searchform" method="POST">
            {% csrf_token %}
            <input class = "searchinput" type="search" name="search_query" placeholder="Search">
            <button type="submit"  style = "border:0;">
              <i class="fa fa-search">
                <svg viewBox="0 0 512 512" width="25" title="search">
                  <path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" />
                </svg>
              </i>
              </button>
           </form>
          </div>

        <!-- Right links -->
        <ul hidden class="navbar-nav ms-auto d-flex flex-row">
          <!-- Notification dropdown -->
          <li hidden class="nav-item dropdown">
            <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
              role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-bell"></i>
              <span class="badge rounded-pill badge-notification bg-danger">1</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="#">Some news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>

          <!-- Icon -->
                <li class="nav-item">
            <a class="nav-link me-3 me-lg-0" href="#">
              <i class="fas fa-fill-drip"></i>
            </a>
          </li>
          <!-- Icon -->
                <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#">
              <i class="fab fa-github"></i>
            </a>
          </li>

          <!-- Icon dropdown -->
          <li hidden class="nav-item dropdown">
            <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdown" role="button"
              data-mdb-toggle="dropdown" aria-expanded="false">
              <i class="flag-united-kingdom flag m-0"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#"><i class="flag-united-kingdom flag"></i>English
                  <i class="fa fa-check text-success ms-2"></i></a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-poland flag"></i>Polski</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-japan flag"></i>日本語</a>
              </li>
            </ul>
          </li>

          <!-- Avatar -->
          <li hidden class="nav-item dropdown">
            <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
              id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                            height="22" alt="Avatar" loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="#">My profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Settings</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- End of Navbar -->
  </header>
  <!-- End of Main Navigation-->

  <!--Main layout-->
  <main style="margin-top: 58px;">
    <div class="container" class="entrytext">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Enter Offer</button>
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <form method="POST" novalidate>
              {% csrf_token %}
              <h2>Add points</h2>
              {{ form.as_p }}
              <button class="btn btn-default" type="submit">Submit</button>
            </div>
          </form>
          </div>
          
        </div>
      </div>
  </main>
  <!--End of Main layout-->
</body>
<script>
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
document.addEventListener('DOMContentLoaded', function () {
  var audioContainer = document.getElementById('audioContainer');
  var audioElement = audioContainer.querySelector('audio');

  // SVG icon element
  var svgIcon = audioContainer.querySelector('svg');

  // Add click event listener to the SVG icon
  svgIcon.addEventListener('click', function () {
      if (audioElement.paused) {
          audioElement.play();
      } else {
          audioElement.pause();
      }
  });
});
</script>
</html>