#login_background{
    background-color: #004831;
}
#login_container{
    position: absolute;
    width: 800px;
    padding-left: 15%;
    padding-top: 5%;
}
#login_body{
    float:right;
    font-family:sans-serif;
    padding:70px;
    text-align: center;
    width: 300px;
    height: 300px;
    border: 2px solid #393432;
    background-color: #f2f0ed;
        }
#login_button{
    cursor:pointer;
    background-color: #C4D700;
}
 
#logo{
    float:left;
    width: 300px;
    height: 300px;
    padding-top: 5%;
} 