#login_background{
    background-color: #C4D700;
}
#login_container{
    position: absolute;
    width: 900px;
    padding-left: 15%;
    padding-top: 5%;
}
#login_body{
    float:right;
    font-family:sans-serif;
    padding:70px;
    text-align: center;
    width: 400px;
    height: 330px;
    border: 2px solid #393432;
    border-radius: 10px;
    background-color: #f2f0ed;
    }
#login_button{
    cursor:pointer;
    background-color: #C4D700;
}
 
#logo{
    float:left;
    width: 300px;
    height: 300px;
    padding-top: 5%;
} 
a:link, a:visited {
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #C4D700;
    border-radius:10px;
  }
  form{
    text-align: left;
  }